<a href="https://colab.research.google.com/github/Nanthablack/Machine-Learning/blob/main/ML_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import
import pandas as pd

In [ ]:
#load data
df = pd.read_csv('Naive Bayes - Sheet1.csv', names = ['income', 'status', 'credit', 'age', 'buy'],index_col = False)
df

    income     status     credit   age  buy
0     High  Graduated       Fair  <=30    0
1     High  Graduated  Excellent  <=30    0
2     High  Graduated       Fair   >30    1
3   Medium  Graduated       Fair   >30    1
4      Low   Studying       Fair   >30    1
5      Low   Studying  Excellent   >30    0
6      Low   Studying  Excellent   >30    1
7   Medium  Graduated       Fair  <=30    0
8      Low   Studying       Fair  <=30    1
9   Medium   Studying       Fair   >30    1
10  Medium   Studying  Excellent  <=30    1
11  Medium  Graduated  Excellent   >30    1
12    High   Studying       Fair   >30    1
13  Medium  Graduated  Excellent   >30    0

In [ ]:
def calProb(buy,income, status,credit,age):
    buy_prob = len(df[df['buy'] == 1])/len(df)

    income_prob =len(df[(df['income'] == income)&(df['buy'] == 1)])/len(df[df['buy'] == 1])

    status_prob =len(df[(df['status'] == status)&(df['buy'] == 1)])/len(df[df['buy'] == 1])

    credit_prob =len(df[(df['credit'] == credit)&(df['buy'] == 1)])/len(df[df['buy'] == 1])

    age_prob =len(df[(df['age'] == age)&(df['buy'] == 1)])/len(df[df['buy'] == 1])
 
    VNB = buy_prob*income_prob*status_prob*credit_prob*age_prob

    buy_pro = len(df[df['buy'] == 0])/len(df)
  
    income_pro =len(df[(df['income'] == income)&(df['buy'] == 0)])/len(df[df['buy'] == 0])
    
    status_pro =len(df[(df['status'] == status)&(df['buy'] == 0)])/len(df[df['buy'] == 0])
   
    credit_pro =len(df[(df['credit'] == credit)&(df['buy'] == 0)])/len(df[df['buy'] == 0])
    
    age_pro =len(df[(df['age'] == age)&(df['buy'] == 0)])/len(df[df['buy'] == 0])
    
    VNB0 = buy_pro*income_pro*status_pro*credit_pro*age_pro

    if buy == 1:
          resulf = VNB/(VNB0+VNB)
    else:
          resulf = VNB0/(VNB0+VNB)

    return resulf

In [ ]:
calProb(1,'Medium', 'Studying','Fair','<=30')

0.8045052292839903